
<html>
<head>
<link rel="stylesheet" type="text/css" href="./static/style.css">

</head>
<body>

<div id="header">
<h1>Home</h1>
</div>

<div id="nav">
</div>


<div id="section">
<table id="t01">
<tr><td><a href="register">Register</a><br /></td></tr>
<tr><td><a href="delete_all">Delete all</a><br /></td></tr>
<tr><td><a href="list">List all</a><br /></td></tr>
<tr><td></td></tr>
<tr><td>Exercise end points:</td></tr>
<tr><td></td></tr>
<tr><td><a href="login">Login</a><br /></td></tr>
<tr><td><a href="group_by">Grouping and filtering</a><br /></td></tr>
<tr><td><a href="list_dir">List directories</a><br /></td></tr>
<tr><td><a href="status">Status</a><br /></td></tr>

</table>

</div>

<div id="footer">
Technicolor project by Esan Mandal
</div>

</body>
</html>
