$def with(mongo)
<html>
<head>
<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>

<div id="header">
<h1>Status</h1>
</div>

<div id="nav">
<a href="index">Home</a><br />
<a href="register">Register</a><br />
<a href="login">Login</a><br />
<a href="group_by">Grouping and filtering</a><br />
<a href="list_dir">List directories</a><br />
</div>


<div id="section" align="center">
<h2>Database status</h2>
<table id="t01">
    $for m in mongo:
    	<tr>
    		<td>$m</td> 
    		<td>$mongo[m]</td>
		</tr>
</table>
</div>


<div id="footer">
Technicolor project by Esan Mandal
</div>

</body>
<html>
